[Unit]
Description=Dune Weaver Autohotspot
After=NetworkManager.service
Before=dune-weaver.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/autohotspot

[Install]
WantedBy=multi-user.target
